@charset "UTF-8";

/* qna 메인페이지 */
.qnaboard_container {
  margin: 30px auto 30px auto;
}

.qnaboard_title {
  margin-left: 10px;
  margin-bottom: 30px;
}

.qnaboard_title Strong {
  font-size: 2rem;
}

.qnalist_container {
  width: 100%;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
}

.qnalist1 {
  display: flex;
  border-bottom: 2px solid #999;
}

.qnalist2 {
  display: flex;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
}

.qnalist2:hover {
  background: rgba(190, 225, 255, 0.8);
  transition: all 0.5s ease;
}

.qnano {
  width: 10%;
  text-align: center;
  padding: 10px 0 10px 0;
  text-align: center;
}

.qnatitle {
  width: 50%;
  padding: 10px 0 10px 0;
}

.qnaid {
  width: 10%;
  padding: 10px 0 10px 0;
  text-align: center;
}

.qnadate {
  width: 20%;
  padding: 10px 0 10px 0;
  text-align: center;
}

.qna_reply_container {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  padding: 15px;
  border: 1px solid black;
}

/* qnaconfirm */

.qnaconfirm_container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 360px;
	height: 360px;
	margin: 50px auto 50px auto;
	box-shadow: 0 0 20px 0 rgb(0 0 0 / 20%), 0 5px 5px 0 rgb(0 0 0 / 24%);
}

.qnaconfirm_wrapper {
	margin:auto 10% 50px 10%;
}

.qnaconfirm_wrapper Strong {
	font-size: 1.5rem;
}

#passinput {
	font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 400px;
    max-width: 100%;
    border: 0;
    margin: 15px 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.pschk_btn {
	display: flex;
	justify-content: flex-end;
}

/* qnadetail */

.qna_detail_container {
	margin: 30px auto 30px auto;
}

.qna_detail_titlewrapper {
	padding: 10px 5px 10px 10px;
	border-top: 2px solid #000;
	border-bottom: 2px solid #ddd;
}

.qna_detail_titlewrapper Strong {
	font-size: 2rem;
	padding-left: 5px;
}

.qna_detail_info {
	display: flex;
	align-items: center;
	padding: 10px 0 10px 10px;
	border-bottom: 2px solid #999;
}

.qna_contentinfo {
	padding-left: 5px;
	width: 120px;
	border-right: 1px solid #999;
}

.qna_contentinfo Strong {
	margin-right: 10px;
}

.qna_contentinfo_date{
	padding-left: 5px;
	width: 165px;
	border-right: 1px solid #999;
}

.qna_contentinfo_date Strong {
	margin-right: 10px;
}

.qna_detail_contentwrapper {
	padding: 10px 5px 0 10px;
	height: 50vh;
	border-bottom: 2px solid #999;
}

.qna_detail_buttonwrapper {
	display: flex;
	justify-content: flex-end;
	padding: 10px 0 10px 0;
	border-bottom: 2px solid #000;
}

.qna_detail_buttonwrapper button {
	margin: 0 10px 0 10px;
}


#tblListComment td {
	position: relative;
	left: 0;
	top: 0;
}

#tblListComment td span {
	position: absolute;
	right: 10px;
	bottom: 5px;
	color: #AAA;
	font-size: 11px;
}

#tblAddCommnet, #tblListComment {
	width: 700px;
	margin: 15px auto;
}

#tblAddComment {
	margin-top: 30px;
}

#tblAddComment td:nth-child(1) {
	width: 600px;
}

#tblAddComment td:nth-child(2) {
	width: 100px;
}

#tblListComment td:nth-child(1) {
	width: 600px;
}

#tblListComment td:nth-child(2) {
	width: 100px;
}

/* updateqna */

.titlewrapper_title input {
	font-size: 2rem;
	width: 100%;
	height: 100%;
}

.qna_detail_contentwrapper textarea {
	width: 100%;
	height: 97%;
	resize: none;
}

.qna_update_confirmwrapper {
	display: flex;
	justify-content: space-between;
	padding: 10px 5px;
	border-bottom: 2px solid #000;
}

.qna_update_confirm_button {
	display: flex;
	justify-content:space-between;
	align-items: center;
	width: 160px;
}

/* qnareg */

.qna_reg_confirm_button {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 160px;
}
