@charset "UTF-8";

.order{
	width: 1130px;
	height: 200px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: bolder;
	font-size: 23pt;
}

#buy-product-name{
	font-size: 18pt;
	font-weight: 500;
}
#buy-shipping-name{
	font-size: 18pt;
	font-weight: 500;
}
#buy-purchase-name{
	font-size: 18pt;
	font-weight: 500;
}
#buy-product-name-check{
	height: 80px;
	display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
}


.buy-product-name hr{
	border: 0 solid black;
    height: 2px;
}

.buy-product-customer{
	display: flex;
	margin-left: 70px;
}

.delivery-info{
	color: gray;
	width: 380px;
}

#buy-label-box{
	width: 200px;
	height: 60px;
	display: flex;
    align-items: center;
}

#buy-input-box{
	display: flex;
    align-items: center;	
}

#buy-input-box input{
	width: 400px;
	height: 45px;
	font-size: 16pt;	
}

.buy-product-shipping-box{
	margin-top: 200px;
}
.buy-purchase-box{
	margin-top: 150px;
}
.buy-product-price{
 	display: flex;
	justify-content: center;
	align-items: center;
}
.buy-mini-box{
	width: 300px;
	border: 1px solid black;
	border-radius: 8px;
	margin: auto;
}
#buy-input-box-p{
	display: flex;
    align-items: center;
}
#buy-input-box-p input{
	border:0 solid black;
	width: 100px;
}
#buy-input-box-p input:focus{
	outline: none;
}

.buy-button {
	margin-top: 50px;
	display: flex;
	justify-content: center;
    align-items: center;
}

.buy-button button{
	display: flex;
	width: 150px;
    padding: 12px 0;
    justify-content: center;
    align-items: center;
    border: 1px solid #dddddd;
    margin-right: 10px;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: -0.02em;
    color: #ffffff;
    background: #00388c;
    border-radius: 5px;
}
.sameaddress{
	text-align: right;
}