@charset "UTF-8";

@import url(https://fonts.googleapis.com/css?family=Roboto:300);

@font-face {
	font-family: 'GangwonEdu_OTFBoldA';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}

.find-page {
	width: 360px;
	padding: 8% 0 0;
	margin: 0 auto;
}

.find-form {
	position: relative;
	top: 30px;
	z-index: 1;
	background: #FFFFFF;
	max-width: 360px;
	margin: 0 auto 100px;
	padding: 45px;
	text-align: center;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0
		rgba(0, 0, 0, 0.24);
		font-family: 'Pretendard-Regular';
}

.find-form input {
	font-family: "Roboto", sans-serif;
	outline: 0;
	background: #f2f2f2;
	width: 100%;
	border: 0;
	margin: 0 0 15px;
	padding: 15px;
	box-sizing: border-box;
	font-size: 14px;
}

.find-form button {
	font-family: "Roboto", sans-serif;
	text-transform: uppercase;
	outline: 0;
	background: #0080FF;
	width: 100%;
	border: 0;
	padding: 15px;
	color: #FFFFFF;
	font-size: 14px;
	-webkit-transition: all 0.3 ease;
	transition: all 0.3 ease;
	cursor: pointer;
}

.find-form button:hover, .find-form button:active, .find-form button:focus
	{
	background: #0080FF;
}

.find-form .message {
	margin: 15px 0 0;
	color: #b3b3b3;
	font-size: 12px;
}

.find-form .message a {
	color: #0080FF;
	text-decoration: none;
}

.find-form .register-form {
	display: none;
}

.find-pagetitle {
	font-size:30px;
	 position: relative;
        top: -30px;
	
}



